@charset "UTF-8";
/* CSS Document */

body {
	font-size:100%;
	margin:0px;
/* 	background-color:white; */
 	background-color:black; 
}

/* DIVS */

div.page{
  position: relative;
  width:1400px;
  margin-left: auto;
  margin-right: auto;
}

div.header {
  position: relative;
  width:960px;
  height:175px;  
}

div.logo {	
  display: flex;
  justify-content: center;
}

div.logo2 {	
  display: flex;
  justify-content: left;
}

div.image {	
  display: flex;
  justify-content: center;
}

div.grid2b{
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 50px;
  margin-left: 0px;
  margin-right: auto;
}

div.grid4{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

div.entry {
  position: relative;
  float: left;
  width: 460px;
  display:block;
  margin:10px;
}

/* TEXT */

p.foot {	
	text-align: right;
	font-family: Verdana;
	font-style: italic;
	font-weight: bold;
	color:grey;
	padding:0px;
	margin:0px;
}

p.entry{
	text-align: center;
	font-family: Verdana;
	font-style: normal;
	color: white;
	padding:0px;
	margin:5px;
}	

p.entryBold{
	text-align: center;
	font-family: Verdana;
	font-style:normal;
	font-weight: bold;
	color: white;
	padding:0px;
	margin:5px;
}	

p.entryItalic{
	text-align: center;
	font-family: Verdana;
	font-style: italic;
	font-weight: bold;
	color: white;
	padding:0px;
	margin:5px;
}	

p.entryGrey{
	text-align: center;
	font-family: Verdana;
	font-style: normal;
	color: grey;
	padding:0px;
	margin:5px;
}	

p.greyBold{
	text-align: center;
	font-family: Verdana;
	font-style:normal;
	font-weight: bold;
	color: grey;
	padding:0px;
	margin:5px;
}	

p.greyItalic{
	text-align: center;
	font-family: Verdana;
	font-style: italic;
	font-weight: bold;
	color: grey;
	padding:0px;
	margin:5px;
}	

p.entryRed{
	text-align: center;
	font-family: Verdana;
	font-style: italic;
	font-weight: bold;
	color:red;
	padding:0px;
	margin:5px;
}	

/* LINKS */

a.entryLink:link {
	display: block;
	text-align: center;
	font-family: Verdana;
	font-style:normal;
	font-weight: bold;
	padding:0px;
	margin:5px;
	text-decoration:none;
}	

a.linkBold:link {
	display: block;
	text-align: center;
	font-family: Verdana;
	font-style:normal;
	font-weight: bold;
	padding:0px;
	margin:5px;
	text-decoration:none;
}	
	
a.linkItalic:link {
	display: block;
	text-align: center;
	font-family: Verdana;
	font-style:italic;
	font-weight: bold;
	padding:0px;
	margin:5px;
	text-decoration:none;
}	

a.contactLink:link {
	display: block;
	text-align: right;
	font-family: Verdana;
	font-style:normal;
	font-weight: bold;
	padding:0px;
	margin:5px;
	text-decoration:none;
}	
